*{
    margin:0;
    padding:0;
}
body{
    color: $dark-color;
    font-size: 14px;
    width:100%;
    height: 100%;
    user-select: none;
    background: $light-color;
}
ul,ol,li {
    list-style-type: none
}
a {
    text-decoration: none;
    outline: 0
}
.icon{
    width:50px;
    height: 50px;
}