*{
    margin:0;
    padding:0;
}
body{
    color: $dark-color;
    font-size: 14px;
    width:100%;
    height: 100%;
    user-select: none;
    background: $light-color;
}
ul,ol,li {
    list-style-type: none
}
a {
    text-decoration: none;
    outline: 0
}
.icon{
    width:50px;
    height: 50px;
}
button{
    outline: none;
}
.btn {
    cursor: pointer;
    margin-left: 50px;
    padding: 5px 10px;
    border-radius: 3px;
    background: rgba($light-color, 0.7);
    color: $theme-color;
    // border:solid $theme-color 1px;
    border: none;
    box-shadow: 1px 1px 2px $theme-color;
  }