.container-box{
    width:1200px;
    margin:0 auto;
}
.box-mt{
    margin-top:20px;
}
.box-content{
    background: #fff;
    border-radius: 5px;
}
.flex-box {
    display: flex;
    flex-wrap: wrap;
}
.demo-box {
    min-height: 100px;
    padding: 20px;
}
.demo-list-ul {
    color: $theme-color;
    padding: 0 10px;
    .demo-list-li {
        display: flex;
        justify-content: space-between;
        border-bottom: $light-color solid 1px;
        cursor: pointer;
        .li-label {
        padding: 0 30px;
        align-self: center;
        }
        .li-img {
        // width:100px;
        height: 100px;
        }
    }
    .demo-list-li:last-child {
        border-bottom: none;
    }
}
.logo-img {
    width: 80px;
    height: 80px;
  }
.menu-icon{
    display: none;
}
.menu-ul{
    display: flex;
}

@media screen and (max-width: $mobile){
    .container-box{
        width:100% !important;
        margin:0;
    }
    .menu-icon{
        display: block;
    }
    .menu-ul{
        display: block;
        position: fixed;
        width: 100px;
        right: 0;
        background: #fff;
        
    }
    .menu-anim-enter-active, .menu-anim-leave-active {
        right: 0px;
        transition: all 0.5s ease;
      }
      .menu-anim-enter, .menu-anim-leave-to /* .fade-leave-active below version 2.1.8 */ {
        right: -100px;
        transition: all 0.5s ease;
      }
}